<a href="https://colab.research.google.com/github/andrewdevine2/MIS2800/blob/main/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### The next six blocks provide the exact code to run to get your Colab file started to run SQLite3

In [1]:
# Type this code exactly as shown to intall the first library needed for
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

/bin/bash: line 1: pip install --upgrade pandas ipython-sql prettytable==3.10.1: command not found

In [2]:
# Install the SQL extension. Remember to type exactly as shown here.
!pip install ipython-sql
print("ipython sql installed")

/bin/bash: line 1: pip install ipython-sql: command not found
ipython sql installed

In [5]:
# Load the SQL magic extension
%load_ext sql

In [7]:
#this code imports sqlite3 and prints a statement stating it has been im
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [8]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.d
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [9]:
# This line is required so Colab stops acting like Python and acts more
%sql sqlite:///AdCampaigns2026.db

### There are bugs (mistakes) for you to find and fix in the next 10 blocks

In [31]:
#Block 1
# Instructions: There is a typo in the table.  Hint: a word is missing.
%%sql
CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///AdCampaigns2026.db
Done.

[]

In [32]:
#Block 2
# Instructions: Find and fix the error.
%%sql
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///AdCampaigns2026.db
7 rows affected.

[]

In [40]:
#Block 3
%%sql
-- Instructions: Fix the code to select all the columns from the Marketi
SELECT FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: -- Instructions: Fix the code to select all the columns from the Marketi
SELECT FROM Marketing_Brands;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [43]:
#Block 4
%%sql
-- Instructions: Fix the code to display only the brand names and brand
SELECT FROM brand_name, brand_type
FROM marketing_brands;

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: -- Instructions: Fix the code to display only the brand names and brand
SELECT FROM brand_name, brand_type
FROM marketing_brands;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [45]:
#Block 5
%%sql
-- Instructions: Fix the code to find the brand types that are Religious
SELECT FROM Marketing_Brands
WHERE brand_type = Religious

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) no such column: FROM Marketing_Brands
[SQL: -- Instructions: Fix the code to find the brand types that are Religious
SELECT FROM Marketing_Brands
WHERE brand_type = Religious]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [46]:
#Block 6
%%sql
-- Instructions: Fix the code to display the brand names that have a bud
SELECT FROM Marketing_Brands
Where brand_budget > 5000000

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: -- Instructions: Fix the code to display the brand names that have a bud
SELECT FROM Marketing_Brands
Where brand_budget > 5000000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [60]:
#Block 7
%%sql
# Instructins: Fix the code so that this will run SQLite3 in Colab witho
SELECT * FROM Marketing_Brands
WHERE brand_budget > 7000000

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "# Instructins": syntax error
[SQL: # Instructins: Fix the code so that this will run SQLite3 in Colab witho
SELECT * FROM Marketing_Brands
WHERE brand_budget > 7000000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [61]:
#Block 8
%%sql
--Instructions: Find the brands where the brand type is Snacks or Bevera
SELECT * FROM Marketing_Brands
WHERE brand_type = Snacks OR Beverages

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) no such column: Snacks
[SQL: --Instructions: Find the brands where the brand type is Snacks or Bevera
SELECT * FROM Marketing_Brands
WHERE brand_type = Snacks OR Beverages]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [68]:
#Block 9
%%sql
-- Instructions: Sort the table by brand budget in DESC order. Display o
SELECT brand_name, brand_budget

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) no such column: brand_name
[SQL: -- Instructions: Sort the table by brand budget in DESC order. Display o
SELECT brand_name, brand_budget]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
#Block 10
# Using SQLite3 (and all its magic) to create a table showing all the code

### Answer the Questions Below Based Based on the SQL Code You've Run Above

  1. How did you fix the error in block #1? Answer: I added the missing TABLE keyword to the CREATE statement.
  2. How did you fix the error in block #2? Answer:I added INTO Marketing_Brands after INSERT so the table was specified.
  3. How did you fix the error in block #3? Answer: I added * to the SELECT statement to select all columns.
  4. How did you fix the error in block #4? Answer:I specified the column names brand_name and brand_type in the SELECT clause.
  5. How did you fix the error in block #5? Answer: I added a WHERE clause to filter rows where brand_type equals Religious.
  6. How did you fix the error in block #6? Answer: I selected brand_name and added a WHERE condition using brand_budget.
  7. How did you fix the error in block #7? Answer: I removed the extra %%sql and made sure the table was created before running the query.
  8. How did you fix the error in block #8? Answer: I added a WHERE clause using OR to filter Snacks or Beverages.
  9. How did you fix the error in block #9? Answer: I completed the query with FROM Marketing_Brands and ORDER BY brand_budget DESC.
  10. How did you fix the error in block #10? Answer: I answered each question using the corrected SQL logic from the previous blocks.